<html>
<head>
    <title>Отправить секрет</title>
</head>
<body>
    <h1>Форма для секрета</h1>
    <form action="/secret" method="post">
        <div>
            <label for="secret">Ваш секрет:</label>
            <textarea id="secret" name="secret" required></textarea>
        </div>
        <div>
            <label for="passphrase">Пароль:</label>
            <input type="text" id="passphrase" name="passphrase" required>
        </div>
        <button type="submit">Отправить</button>
    </form>
    <h2>Форма для получения секрета</h2>
    <form action="/showsecret" method="get">
        <div>
            <label for="secret_key">Укажите уникальный ключ:</label>
            <textarea id="secret_key" name="secret_key" required></textarea>
        </div>
        <button type="submit">Отправить</button>
    </form>
    <h3>Форма для удаления секрета</h3>
    <form action="/delsecret" method="post">
        <div>
            <label for="secret_key">Укажите уникальный ключ:</label>
            <textarea id="secret_key" name="secret_key" required></textarea>
        </div>
        <div>
            <label for="passphrase">Укажите пароль:</label>
            <textarea id="passphrase" name="passphrase" required></textarea>
        </div>
        <button type="submit">Отправить</button>
    </form>

</body>
</html>